---
import SiteLayout from "../../layout/siteLayout.astro";
import BlogHeader from "./BlogHeader.astro";
import BlogCard from "./BlogCard.astro";
import Button from "../../components/button/Button.astro";

interface Props {
  title: string;
  page: any;
  currentCategory?: string;
}

const { page, title, currentCategory } = Astro.props;
---

<SiteLayout title={title}>
  <div class="blog-container relative py-16 md:py-40">
    <div class="absolute top-8 md:top-0 left-0 w-full -z-10">
      <img class="max-w-full" src="https://img.alicdn.com/imgextra/i2/O1CN01qKhtOl1jjWgQSaT3u_!!6000000004584-2-tps-5760-4800.png" alt="Blog Background" />
    </div>
    <BlogHeader currentCategory={currentCategory} />

    <div class="px-4 md:px-10 pt-6 md:pt-10 mt-10 md:mt-20 backdrop-blur-[1px] grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10">
      {
        page.data.map((blog: any) => (
          <BlogCard
            title={blog.data.title}
            body={blog.body}
            description={blog.data.description}
            author={blog.data.author}
            authors={blog.data.authors}
            date={blog.data.date}
            slug={blog.slug}
          />
        ))
      }
    </div>

    <div class="flex justify-center items-center gap-4 mt-16">
      {page.url.prev ? (
        <a href={page.url.prev}>
          <Button mode="light">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 18L9 12L15 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </Button>
        </a>
      ) : (
        <div class="opacity-50 pointer-events-none">
           <Button mode="light">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 18L9 12L15 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
           </Button>
        </div>
      )}

      <span class="text-gray-600 font-medium">
        Page {page.currentPage} of {page.lastPage}
      </span>

      {page.url.next ? (
        <a href={page.url.next}>
          <Button mode="light">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </Button>
        </a>
      ) : (
        <div class="opacity-50 pointer-events-none">
           <Button mode="light">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
           </Button>
        </div>
      )}
    </div>
  </div>
</SiteLayout>
