---
import { type CollectionEntry, getCollection } from "astro:content";

import { SITE } from "@/utils/config";
import { BLOG_CATEGORY } from "@/constant";
import BlogPost from "@/components/blog/BlogPost.astro";
import Button from "@/components/button/Button.astro";
import { localizeUrl, useTranslations } from "@/i18n/utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const locale = Astro.currentLocale || 'root';
const t = useTranslations(locale);

const category = post.data.category;
const categoryConfig = BLOG_CATEGORY.find((c) => c.type === category);
const backUrl = localizeUrl(categoryConfig?.href || "/blog/", locale);

const { Content, headings } = await post.render();

const baseLayout_title = post?.data?.title || `${SITE.name} Blog`;
const description = post?.data?.description || "";
const keywords = post?.data?.keywords || [];
const author = post.data.author || post.data.authors;
---

<BlogPost
  title={baseLayout_title}
  description={description}
  keywords={keywords}
  postTitle={post.data.title}
  postDescription={post.data.description}
  postDate={post.data.date}
  postCategory={post.data.category}
  author={author}
  slug={post.slug}
  headings={headings}
  locale={locale}
  tocLabel={t('blog.post.toc')}
  noTocLabel={t('blog.post.no_toc')}
  backLabel={t('blog.post.back')}
  categoryLabel={t('blog.post.category')}
  baseUrl="https://higress.ai/"
  inLanguage="zh-CN"
  homeLabel="首页"
  blogLabel="博客"
>
  <a slot="back-button" href={backUrl} class="inline-block mb-4">
    <Button class="w-30" mode="normal">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      <span class="ml-2">
        {t('blog.post.back')}
      </span>
    </Button>
  </a>
  <Content />
</BlogPost>
