---
import { type CollectionEntry, getCollection } from "astro:content";

import { SITE } from "@/utils/config";
import { BLOG_CATEGORY } from "@/constant";
import BlogPost from "@/components/blog/BlogPost.astro";
import Button from "@/components/button/Button.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const category = post.data.category;
const categoryConfig = BLOG_CATEGORY.find((c) => c.type === category);
const backUrl = `/en${categoryConfig?.href || "/blog/"}`;

const { Content, headings } = await post.render();

const baseLayout_title = post?.data?.title || `${SITE.name} Blog`;
const description = post?.data?.description || "";
const keywords = post?.data?.keywords || [];
const author = post.data.author || post.data.authors;
---

<BlogPost
  title={baseLayout_title}
  description={description}
  keywords={keywords}
  postTitle={post.data.title}
  postDescription={post.data.description}
  postDate={post.data.date}
  postCategory={post.data.category}
  author={author}
  slug={post.slug}
  headings={headings}
  locale="en"
  tocLabel="Table of Contents"
  noTocLabel="No table of contents"
  backLabel="Back"
  categoryLabel="Category"
  baseUrl="https://higress.ai/en/"
  inLanguage="en-US"
  homeLabel="Home"
  blogLabel="Blog"
>
  <a slot="back-button" href={backUrl} class="inline-block mb-4">
    <Button class="w-30" mode="normal">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      <span class="ml-2">
        Back
      </span>
    </Button>
  </a>
  <Content />
</BlogPost>
